* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: white;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nonwrap;
    gap: 20px;
    align-items: center;
    border-bottom: 3px solid #931420;
    padding: 1.5em 0 2em 0;
    background-image: linear-gradient(to bottom right, #f6bb73, white);
}
header img {
    padding: 1em;
}

header h2 {
        font-size: 170%;
        color: #800000;
        padding-left: 30px;
}
header h3 {
        font-size: 130%;
        font-style: italic;
        padding-left: 30px;
}
.shadow {
    text-shadow: 2px 2px 3px #800000;
}


a:link:hover {
    font-style: italic;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    width: 600px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

main {
    padding: 1em;
}

main h1 {
    font-size: 150%;
    padding: .3em 0;
    border-bottom: 3px solid #931420;
    border-top: 3px solid #931420;
}

main h2 {
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding: 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em 1.25em;
}

main li {
    padding-bottom: .35em;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}

footer {
    background-color: #931420;
}